# this file is managed by ansible. local changes will be overwritten

auto  lo
iface lo inet loopback

auto  eth0
iface eth0 inet static
      address {{ ansible_eth0.ipv4.address }}
      netmask {{ ansible_eth0.ipv4.netmask }}
      gateway {{ ansible_default_ipv4.gateway }}

